@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;

}

html,body{
    height: 100%;
    scroll-behavior:smooth;
}

.navbar-image{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0px;
}

.navbar-image img{
    width: 5%;
    align-content: center;
    align-items: center;
    position: fixed;
    justify-content: end;
}


.navbar-options{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: start;

}
.options{
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-options a{
    display: flex;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.navbar-options a:hover{
    color: bisque;
}

.container-page-items-navbar{
    z-index: 1;
    position:fixed;
    top:0;
    width: 100%;
    height: 10%;
    background-color: rgb(49, 24, 57);
    display: flex;
}



.infocontainer{
    scroll-snap-align: start;
    background: linear-gradient(rgb(69, 48, 78),rgb(50, 24, 57));    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.devinfo{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}

.hello{
    font-size: 60px;
    color: white;
}
.name{
    font-size: 50px;
    font-weight:bold;
    color: white;


}
.more{
    font-size: 25px;
    margin-top: 12px;
    color: white;


}
.job{
    font-size: 40px;
    color: white;

}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 20px;
    cursor: pointer;
}

.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}

.devpic img{
    width: 60vh;
    padding-top: 40%;

}

.buttons a{
    text-decoration: none;
}

.about{
    scroll-snap-align: start;
    background: linear-gradient(rgb(0, 0, 0),rgb(69, 48, 78));
    display: flex;
    height: 100vh;
    padding-top: 8.7vh;
    color: white;
}

.image{
    display:flex;
}
.image img{
    width: 40%;
}

.myself{
    font-family: 'Barlow', sans-serif ;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.aboutheading{
    writing-mode:vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-size: 30px;
    padding-left: 10px;
    letter-spacing:0;

}

.listabtme h1{
    font-family: 'Barlow', sans-serif ;
    font-size: 30px;
    display: flex;
    font-size: 20px;
    box-shadow: 3px;
}
.listabtme:hover{
    transform: scale(1.1);

}
.listabtme1{
    font-family: 'Barlow', sans-serif ;
    padding-left: 2px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.listabtme{
    border-radius: 22px;
    text-align: start;
    background-color: rgb(50, 23, 56);
    display: flex;
    height: 15%;
    transition: 0.4s;
    flex-direction: row;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left:3px;
    padding-right: 5px ;
}

.listabtme p{
    padding-left: 10px;
}
.material-symbols-rounded{
    font-size: 30%;
}


.skills{
    scroll-snap-align: start;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    background: linear-gradient(rgb(69, 48, 78),rgb(50, 24, 57));
    display: flex;
    height: 100vh;
    padding-top: 12vh;
    justify-content: center;
    color: white;
}
.skills1{
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    display:flex;
    height:87%;
    width: 80%;
    border: 1px solid white;
    flex-direction: column;
}

.skills1 h1{
    font-size: 30px;
}
.skillsimage{
    display: flex;
    flex-direction: row;
}
.image1{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.image1 img{
    width: 13vw;
}

.image1:hover{
    transform: scale(1.2);
}


.contact{
    scroll-snap-align: start;
    background: linear-gradient(rgb(50, 24, 57),rgb(69, 48, 78));
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 0vh;
    color: white;
    justify-content: center;
    align-items: center;
}

.contact h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;

}
.contact1{
    display: flex;
}
.contact2{
    display: flex;
}

.contact3{
    display: flex;
}

.contact2 a{
    text-decoration: none;
    color: white;
}

.contact3 a{
    text-decoration: none;
    color: white;
}

.contactblock a{
    color: rgb(49, 23, 56);

}
.contactblock{
    font-family: 'Exo 2', sans-serif;
    border-radius: 20px;
    background-color: rgb(157, 184, 196);
    color: rgb(49, 23, 56);
    display: flex;
    flex-direction: column;
    height: 20vh;
    padding : 15px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    transition: 0.5s;
}
::selection{
    background-color:rgb(88, 13, 109);
}
.contactblock h3{
    font-size: 30px;
}

.contactblock p{
    font-size: 20px;
}

.contactblock i{
    font-size:30px;
}

.contactblock:hover{
    transform: scale(1.1);
}